body {
    background-color: rgb(239, 237, 237);
}

#titulo-principal {
    color: brown;
}

.primeira-classe {
    color: blue;
}

h1 {
    color: rgb(40, 39, 39) !important;
}

#cor-nomes {
    color: grey;
}

#cor-hex {
    color: #8B0000;
}

p {
    color: rgb(51, 99, 153);
}

#text {
    color: #444242;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 50px;
}

#arial {
    font-family: Arial;
}

#serif {
    font-family: sans-serif;
}

ul {
    background: rgb(164, 162, 162);
    padding: 10px;
}
