body {
    background-color: rgb(223, 221, 221);
}

h1 {
    color: rgb(40, 39, 39) !important;
}

p {
    color: rgb(23, 3, 150);
}


h2 {
    font-size: 150%;
    font-family: Arial;
    text-decoration: underline;
}

#body {
    font-family: sans-serif;
}

ul {
    background: rgb(164, 162, 162);
    padding: 10px;
}

#logo {
    width: 30px;  
    height: auto; 
}

